{%extends 'pagebase.html' %}

{% block title %} Leaderboard {% endblock %}

{% block content %}

<div class="container">
    <h1>
        Leaderboards 📌
    </h1>
    <br>
    <div class="row">
        {% for board in range(0, boardsSorted|length)%}
            {% for key, value in boardsSorted[board].items()%}
                <div class="column">
                    <div class="card">
                        <h2>
                            <strong>
                                {{key}}
                            </strong>
                        </h2>
                        <br>
                        <ol>
                            {% for k,v in value.items()%}
                            <li>
                                {{k}} @ {{v}}
                            </li>
                            {%endfor%}
                        </ol>
                    </div>
                </div>
            {%endfor%}
        {%endfor%}
    </div>
{% endblock %}
