{%extends 'pagebase.html' %}

{% block title %} Leaderboard {% endblock %}

{% block content %}

<div class="container">
    <h1>
        Leaderboards 📌
    </h1>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <h2>
                    <strong>
                        Squat
                    </strong>
                </h2>
                <br>
                <ol>
                    {% for key, value in boardsSorted[0].items() %}
                    <li>
                        {{key}} @ {{value}} lbs.
                    </li>
                    {%endfor%}
                </ol>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h2>
                    <strong>
                        Bench
                    </strong>
                </h2>
                <br>
                <ol>
                    {% for key, value in boardsSorted[1].items() %}
                    <li>
                        {{key}} @ {{value}} lbs.
                    </li>
                    {%endfor%}
                </ol>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h2>
                    <strong>
                        Overhead
                    </strong>
                </h2>
                <br>
                <ol>
                    {% for key, value in boardsSorted[2].items() %}
                    <li>
                        {{key}} @ {{value}} lbs.
                    </li>
                    {%endfor%}
                </ol>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h2>
                    <strong>
                        Deadlift
                    </strong>
                </h2>
                <br>
                <ol>
                    {% for key, value in boardsSorted[3].items() %}
                    <li>
                        {{key}} @ {{value}} lbs.
                    </li>
                    {%endfor%}
                </ol>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}

</html>