<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/welcomestyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Slinging Weights 💪</title>
</head>
<body>
    <div class="container">
        <h1>
            Slinging Weights 💪
        </h1>
        <p>
            Where coders are determined to be abnormally swole
        <p>
        <form action="/login" method="GET">
            <button id="register-button" type="submit" class="btn btn-default">Login</button>
        </form>
    </div>

</body>
</html>